<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renukamatkar.pinterest" >
//
    <application
        android:allowBackup="true"
        android:icon="@drawable/pic_pinterest"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home_page"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_page"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:label="@string/title_activity_registration_page" >
        </activity>
        <activity
            android:name=".Create_Board"
            android:label="@string/title_activity_create__board" >
        </activity>
        <activity
            android:name=".Create_a_Board"
            android:label="@string/title_activity_create_a__board" >
        </activity>
        <activity
            android:name=".HomePageUser"
            android:label="@string/title_activity_home_page_user" >
        </activity>
        <activity
            android:name=".ConnectingOption"
            android:label="@string/title_activity_connecting_option" >
        </activity>
        <activity
            android:name=".FF"
            android:label="@string/title_activity_ff" >
        </activity>
    </application>

</manifest>
